/* About Section */

.about-section{
    max-width:1300px;
    margin:auto;
    background:#1d1f38;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,0.4);
}

/* Layout */

.about-container{
    display:grid;
    grid-template-columns:1fr;
    align-items:center;
}

/* Left Image */

.about-image{
    position:relative;
}

.about-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Right Content */

.about-content{
    padding:40px 30px;
}

.about-content h4{
    color:#4f6cff;
    font-size:20px;
    margin-bottom:10px;
    letter-spacing:2px;
}

.about-content h1{
    font-size:45px;
    margin-bottom:20px;
    line-height:1.3;
}

.about-content h1 span{
    color:#4f6cff;
}

.about-content p{
    color:#d6d6d6;
    line-height:1.9;
    font-size:17px;
    margin-bottom:20px;
}

/* Features */

.features{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
    margin-top:25px;
}

.feature-box{
    background:#2b2d4a;
    padding:18px;
    border-radius:15px;
    display:flex;
    align-items:center;
    gap:15px;
}

.feature-box i{
    font-size:28px;
    color:#4f6cff;
}

.feature-box h3{
    font-size:18px;
    margin-bottom:5px;
}

.feature-box p{
    margin:0;
    font-size:14px;
}

/* Button */

.about-btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 30px;
    background:#4f6cff;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.about-btn:hover{
    background:#3451ff;
    transform:translateY(-3px);
}

/* Tablet */

@media(min-width:768px){

    .features{
        grid-template-columns:repeat(2,1fr);
    }

}

/* Desktop */

@media(min-width:1024px){

    .about-container{
        grid-template-columns:1fr 1fr;
    }

    .about-image img{
        height:700px;
    }

}